body {
margin: 0;
padding: 0;
font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-weight: normal;
  padding: 0;
  margin-block-start: 0;
  font-size: 80%;
}

h1 {
  margin: 0;
  padding: 0;
}

img {
  width: 4.2em;
  height: auto;
}

table, th, td {
  border-collapse: collapse;
  border: none; /*1px solid #ddd; */
}
td {
  padding: 0;
  padding-bottom: 1em;
  text-align: center;
  height: 4rem;
}
body {
  background: white;
  margin: 1em 1em 1em 1em;
}

